---
import '../styles/global.css';

interface Props {
	title: string;
    description?: string;
}

const { title, description = "Yegor Golovnia - Web3 Operations Generalist" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <main class="container">
		    <slot />
        </main>
	</body>
</html>
